.push{
    
    padding: 0px 0px;
    margin-right: 10px;
    background-color: rgb(47, 255, 109);
    font-family: cursive;
    font-weight: bolder;
    
    

 }

.head{
    color: black;

}

.p1:hover:hover{
    color: azure;
}